@model IEnumerable<Test_Identity.Models.InterviewRound2>

<h2>Index</h2>


<p>
    @using (Html.BeginForm("Index1", "InterviewModel", FormMethod.Get))
    {
        <b>Search</b>@Html.RadioButton("SearchBy", "Name", true)<b>Interviewer</b>
        @Html.RadioButton("SearchBy", "SelectedSkillID", true)<b>Skills</b>
        @Html.RadioButton("SearchBy", "Results", true)<b>Results</b>
        @Html.RadioButton("SearchBy", "Date_Time", true)<b>Date Time</b>
        @Html.TextBox("SearchValue")<input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            Round
        </th>
        <th>
            Candidate
        </th>
        <th>
            Interviewer
        </th>
        <th>
            Job
        </th>

        <th>
            ModeOfInterview
        </th>
        <th>
            Date and Time
        </th>
        <th>
            Comments
        </th>
        <th>
            Results
        </th>
        <th>
            Skills
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Round)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interview.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.JobName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ModeOfInterview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Results)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.SelectedSkillID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                <div class="@("Update " + (item.Results>0 ? "show" : "hide"))">
                    @Html.ActionLink("Update Result", "Update", new { id = item.Id })
                </div>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("All Interviews", "ShowSchedule")
</p>