@model Test_Identity.Models.InterviewerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InterviewerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedSkillID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedSkillID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
